body {
  padding-top: 50px;
  background-color: #eeeeee;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* fluid 5 columns */
.grid-item { 
  width: 33.333%; 
  padding: 5px;
}
/* 2 columns */
.grid-item--width2 { width: 40%; padding: 5px;}

.pin-title {background-color: #fff;}

.centerBlock {
                display: table;
                margin: 0 auto;
            }
/* 3 columns by default */
.grid-sizer { width: 33.333%; }

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 20%; }
  .grid-item { 
  width: 20%; 
  padding: 5px;
}
}

.pollItem {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #CCCCCC;
  border-radius: 25px;
  text-align: center;
}

.pollItem:hover { 
    background-color: #DDDDDD;
}

#pollData{
    text-align: center;
}