<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <br>

  <!-- Begin Container -->
<div class="container">
    <form action="/newPoll" method="get">
    <div class="form-group">
      <label for="question">Question:</label>
      <input type="text" class="form-control" id="question" name="question" placeholder="Enter question">
    </div>
    <div class="form-group">
      <label for="answers">Answers (Please seperate answers with a semi-colon):</label>
      <input type="text" class="form-control" id="answers" name="answers" placeholder="Enter answers seperated by ;">
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
</div>
  <!-- /.container -->
</body>
</html>
