<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <br>

  <!-- Begin Container -->
<div class="container">
  <div class="row center">
  </div>
</div>
  <!-- /.container -->
</body>
</html>
