<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <br>

  <!-- Begin Container -->
<div class="container" id="pollData">
  <h2>My Polls</2>
</div>
  <!-- /.container -->
  
    <script>
  $.ajax({
    type: 'GET',
    url: '/getMyPolls',
    success: function(data) {
        console.log(data);
    }
  });
  </script>
</body>
</html>
